/* Go to Top Button */
@import '../../styles/settings/mixins.scss';
@import '../../styles/global/btn.scss';

.btnNav {
	@extend .BtnMain;
	@include shadow2dp;
	border-radius: 4px;
	height: 40px;
	width: 40px;
	padding: 0.5rem;
	position: fixed;
	top: 1rem;
	right: 1rem;
	font-size: 16px;
	z-index: 9999;
}
