/* Split Content Component styles */
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

.basicGrid {
	display: grid;
	align-items: center;
	justify-items: center;

	@include mobile {
		gap: 1.5rem;
	}

	@include tablet-h {
		gap: 3rem;
	}

	@include laptop-m {
		gap: 6rem;
	}
}

.Equal_Left {
	@extend .basicGrid;
	@include mobile {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'picture' 'content';
	}
	@include laptop-m {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'picture content';
	}
}

.Equal_Right {
	@extend .basicGrid;
	@include mobile {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'picture' 'content';
	}
	@include laptop-m {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'content picture';
	}
}

.FortySixty_Left {
	@extend .basicGrid;
	@include mobile {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'picture' 'content';
	}
	@include laptop-m {
		grid-template-columns: 0.4fr 0.6fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'picture content';
	}
}

.FortySixty_Right {
	@extend .basicGrid;
	@include mobile {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: 'picture' 'content';
	}
	@include laptop-m {
		grid-template-columns: 0.6fr 0.4fr;
		grid-template-rows: 1fr;
		grid-template-areas: 'content picture';
	}
}

.picture {
	grid-area: picture;
}

.content {
	display: flex;
	gap: 1.5rem;
	flex-direction: column;
	grid-area: content;
}
