/* Split Content Component styles */
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

.splitContent {
	display: grid;
	align-items: center;
	justify-items: center;

	@include mobile {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 6rem;
	}

	@include tablet-h {
		gap: 3rem;
	}

	@include laptop-m {
		gap: 6rem;
	}

	p {
		margin: 0;
	}
}

.splitContent > div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.split_Equal {
	@extend .splitContent;
	@include tablet-h {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	@include laptop-m {
		grid-template-rows: 1fr;
	}
}

.split_FortySixty {
	@extend .splitContent;
	@include tablet-h {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	@include laptop-m {
		grid-template-columns: 0.4fr 0.6fr;
		grid-template-rows: 1fr;
	}
}

.split_SixtyForty {
	@extend .splitContent;
	@include tablet-h {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}
	@include laptop-m {
		grid-template-columns: 0.6fr 0.4fr;
		grid-template-rows: 1fr;
	}
}

.RightFirst {
	.ContentLeft {
		@include mobile {
			order: 2;
		}
		@include tablet-h {
			order: 1;
		}
	}
	.ContentRight {
		@include mobile {
			order: 1;
		}
		@include tablet-h {
			order: 2;
		}
	}
}

.list {
	font-size: 0.95em;
}

.technologies {
	font-weight: $bold;
}
