// Global styles.
html,
body {
	height: 100%;
}

.alignWide {
	@include alignwide;
	width: 100%;
}

// Content
#mainWrapper {
	min-height: 100vh;
	position: relative;
}

#mainContent {
	@include alignwide;
	padding-bottom: 150px;
}

#mainArticle {
	@include mobile {
		padding: 3rem 0;
	}
	@include laptop-m {
		padding: 5rem 0;
	}
}

// Nav Menus
.navMenu {
	@include alignwide;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#navHeader,
#navFooter {
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include mobile {
		display: none;
	}
	@include laptop-m {
		display: flex;
	}
}

#navHeader {
	height: 80px;
}

#navFooter {
	position: absolute;
	bottom: 62px;
	width: 100%;
	height: 100px;
}

.navLinks {
	display: flex;
	align-items: center;
}
