/* Form Component styles */
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

.formComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;

	@include mobile {
		margin: 2rem auto;
	}
	@include tablet-h {
		margin: 2rem auto;
	}
	@include laptop-m {
		margin: 3rem auto;
	}
}

.formSocial {
	font-size: 2em;
}
.formWrapper {
	width: 100%;
}
.label {
	margin-bottom: 0.5rem;
	display: inline-block;
}
.input {
	width: 100% !important;
	background-color: $white;
	border: 1px solid $grey_light;
	cursor: text;
	padding: 1rem 1.5rem;
	margin: auto;
	line-height: 1em;
	border-radius: $global-radius;
	box-sizing: border-box;
	font-family: $fonts;
	font-size: 0.9em;
	display: inline-block;
	resize: none;

	&:focus {
		outline: 0px;
		border: 1px solid $black;
		background-color: $white;
	}

	&::placeholder {
		color: $black;
		font-size: 0.9em;
	}
}

.error {
	display: inline-block;
	position: relative;
	padding: 0.5em 1rem;
	margin: 0.5rem 0 0 0;
	font-size: 0.85em;
	font-weight: $bold;
	color: $red;
	background-color: lighten($red, 40);
	border-radius: 5px;
	&::after {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 2rem;
		margin-left: -10px;
		border-width: 7px;
		border-style: solid;
		border-color: transparent transparent lighten($red, 40) transparent;
	}
}

.sendingError {
	display: inline-block;
	position: relative;
	padding: 0.5em 1rem;
	margin: 0.5rem 0 0 0;
	font-size: 0.85em;
	font-weight: $bold;
	color: $red;
	background-color: lighten($red, 40);
	border-radius: 5px;
}
