// Spacer component styles.
@import './../../styles/settings/mixins.scss';

.spacer-simple {
	display: block;
	overflow: hidden;

	@include mobile {
		height: 3rem;
	}
	@include laptop-m {
		height: 5rem;
	}
}

.spacer-double {
	display: block;
	overflow: hidden;

	@include mobile {
		height: 6rem;
	}
	@include laptop-m {
		height: 10rem;
	}
}
