// Layout styles
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

// Content
.mainWrapper {
	min-height: 100vh;
	position: relative;
}

.mainContent {
	@include alignwide;

	// Spacing for ABsolute positioned footer.
	@include mobile {
		padding-bottom: 100px;
	}
	@include tablet-h {
		padding-bottom: 150px;
	}
}

// Nav Menus
.navHeader,
.navFooter {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		padding: 2px;
		&:hover {
			color: $red;
		}
	}
}

.navHeader {
	a {
		color: $grey;
	}
}

.navFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $black;

	@include mobile {
		height: 100px;
		display: flex;
	}
	@include tablet-h {
		height: 150px;
		display: block;
	}

	a {
		color: $grey_light;
		&:hover {
			color: $red_light;
		}
	}
}
