// Layout styles
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

// Content
.mainWrapper {
	min-height: 100vh;
	position: relative;
}

.mainContent {
	@include alignwide;

	// Spacing for ABsolute positioned footer.
	@include mobile {
		padding-bottom: 100px;
	}
	@include tablet-v {
		padding-bottom: 150px;
	}
}

.mainArticle {
	display: flex;
	flex-direction: column;

	@include mobile {
		padding: 6rem 0;
		gap: 6rem;
	}

	@include tablet-h {
		padding: 10rem 0;
		gap: 10rem;
	}
}

// Nav Menus
.navHeader,
.navFooter {
	a {
		padding: 2px;
		&:hover {
			color: $red;
		}
	}

	> div {
		width: 100%;
	}
}

.navHeader {
	a {
		color: $grey;
	}
}

.navFooter {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $black;

	@include mobile {
		height: 100px;
	}
	@include tablet-v {
		height: 150px;
	}

	a {
		color: $grey_light;
		&:hover {
			color: $red_light;
		}
	}
}

.navMobile {
	z-index: 999;
}
