/* Form Component styles */
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

.formComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 500px;

	@include mobile {
		margin: 2rem auto;
	}
	@include tablet-h {
		margin: 2rem auto;
	}
	@include laptop-m {
		margin: 3rem auto;
	}
}

.formSocial {
	font-size: 2em;
}

.formWrapper {
	width: 100%;
	display: grid;
	gap: 1rem;
	margin-top: 1rem;

	label {
		margin-bottom: 0.5em;
		display: block;
	}
}

.input {
	background-color: $grey_lighter;
	border: 1px solid $grey_light;
	cursor: text;
	padding: 1rem 1.5rem;
	margin: auto;
	line-height: 1em;
	border-radius: $global-radius;
	height: auto;
	box-sizing: border-box;
	font-family: $fonts;
	font-size: 0.9em;
	display: inline-block;

	&:focus {
		outline: 0px;
	}

	&::placeholder {
		color: $black;
		font-size: 0.9em;
	}
}
