/* Form Component styles */
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

.formComponent {
	display: grid;
	justify-content: center;
	gap: 1rem;

	@include mobile {
		max-width: 100%;
		margin: 2rem auto;
	}
	@include laptop-m {
		max-width: 70%;
		margin: 3rem auto;
	}
	@include laptop-h {
		max-width: 50%;
		margin: 5rem auto;
	}
}

.input {
	background-color: $grey_lighter;
	border: 1px solid $grey_light;
	cursor: text;
	padding: 1rem;
	line-height: 1em;
	border-radius: $global-radius;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	font-family: $fonts;

	&:focus {
		outline: 0px;
	}

	&::placeholder {
		color: $black;
		font-size: 0.9em;
	}
}
