/* Copy Right styles */
@import './../../styles/settings/variables.scss';

.content {
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	height: 70px;
	text-align: center;
	color: $grey_light;
	font-size: 0.8em;

	a {
		color: $grey_light;
		text-decoration: underline;
		&:hover {
			color: $red;
		}
	}
}
