/* Copy Right styles */
@import './../../styles/settings/variables.scss';

.copyRight {
	width: 100%;
	padding: 40px 0;
	text-align: center;
	color: $grey_light;
	font-size: 15px;

	a {
		color: $grey_light;
		&:hover {
			color: $red;
		}
	}
}
