@import './../../styles/settings/mixins.scss';

.container {
	text-align: center;

	@include mobile {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	@include tablet-h {
		max-width: 70%;
	}
}

.title {
	margin-bottom: 1rem;
}
