@import './../../styles/settings/mixins.scss';

.CenteredContent {
	text-align: center;

	@include mobile {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	@include tablet-h {
		max-width: 70%;
	}
}

* + .Content {
	margin-top: 1rem;
}
