// Mobile Navigation styles
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';
@import '../buttonsComponents/Btn.module.scss';

.nav {
	z-index: 999;
	position: fixed;
	background-color: white;
	display: flex;
	flex-flow: column;
	list-style: none;
	padding: 0;
	margin: 0;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;

	li {
		border-bottom: 1px solid $grey_lighter;
		width: 90%;
		&:last-child {
			border-bottom: none;
		}
	}
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2em;
	text-decoration: none;
	height: 20vh;
	padding: 0;
}

.social {
	display: inline-flex;
	font-size: 2em;
}

.social + .social {
	margin-left: 1rem;
}
