/* Buttons *******************************/
@import '../settings/variables.scss';

.button {
	padding: 1rem 1.5rem;
	min-width: 100px;
	font-size: 0.9em;
	font-weight: $regular;
	cursor: pointer;
	line-height: 1;
	box-sizing: border-box;
	border-radius: $global-radius;
	transition: $transition;
	text-decoration: none;

	&:focus {
		outline: 0px;
	}
}

.btnMain {
	@extend .button;

	background: $red;
	color: $white;
	border: 2px solid $red;

	&:hover {
		color: $white;
		background-color: $red_light;
		border: 2px solid $red_light;
	}
}

.btnSecondary {
	@extend .button;

	color: $red;
	background: transparent;
	border: 2px solid $red;

	&:hover {
		color: $black;
		border: 2px solid $black;
		background-color: transparent;
	}
}
