// Nav Menu
#navHeader {
	a {
		color: $grey;
		text-decoration: none;
		&:hover {
			color: $red;
		}
	}

	.active {
		color: $red;
	}
}

#navFooter {
	background-color: $black;

	a {
		text-decoration: none;
		color: $grey_light;
		&:hover {
			color: $red;
		}
	}

	.active {
		color: $white;
	}

	.logo,
	.TextRed {
		color: $grey_light;
	}
}

.logo {
	font-weight: $bold;
	color: $grey;
	font-size: 1.2em;
}

.navLinks {
	font-size: 0.9em;
	list-style: none;
	margin: 0;
}

.navItem + .navItem {
	margin-left: 2rem;
}

.socialIcon {
	font-size: 1.3em;
}

.socialIcon + .socialIcon {
	margin-left: 1rem;
}
