/**
 * Basic Variables
 */

// Fonts.
$fonts: 'Barlow', Helvetica, Arial, sans-serif;
$fonts-headers: 'Raleway', Helvetica, Arial, sans-serif;
$regular: 400;
$bold: 700;

// Colors.
$black: #333;
$white: #fafafa;
$grey: #666;
$grey_light: #ccc;
$red: #d52b1e;
$red_light: #ff8177;
$red_dark: #830a00;

// Misc.
$transition: 0.3s ease;
$transition_slow: 1s ease;
$global-radius: 2rem;
