/**
 * Basic Variables
 */

// Fonts.
$fonts: 'Barlow', Helvetica, Arial, sans-serif;
$fonts-headers: 'Raleway', Helvetica, Arial, sans-serif;
$regular: 400;
$bold: 700;

// Colors.
$black: #333;
$white: #fafafa;
$grey: #666;
$grey_light: #ccc;
$grey_lighter: #eee;
$red: #d52b1e;
$red_light: #fdecea;
$red_dark: #830a00;
$blue: #348dd1;
$blue_light: #e8f4fd;
$green: #2f8132;
$green_light: #edf7ed;
$yellow: #d8973c;
$yellow_light: #fff4e5;

// Misc.
$transition: 0.3s ease;
$transition_slow: 1s ease;
$global-radius: 2rem;
