/* Go to Top Button */
@import './../../styles/settings/variables.scss';
@import './../../styles/settings/mixins.scss';

.goToTop {
	display: block;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 999999;
	outline: none;
	padding: 0.8rem 1.1rem;
	font-size: 0.8rem;
	border-radius: 50%;
	margin: 0px;
	min-width: inherit;
	background-color: $red;
	color: $white;
	@include shadow2dp;

	&:hover {
		color: $white;
	}
}
