@import './../../styles/settings/mixins.scss';

.container {
	display: grid;

	@include mobile {
		gap: 1rem;
		grid-template-columns: 1fr;
		grid-template-rows: 2;
	}

	@include tablet-h {
		gap: 3rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1;
	}
}

.title {
	grid-column: 1/-1;
	margin-bottom: 1.5rem;
}
