/* Alert messages */
@import './../../styles/settings/variables.scss';

.alert {
	padding: 1rem;
	font-size: 0.85em;
	border-radius: 4px;
}

.header {
	font-size: 1.2em;
	font-weight: bold;
}

.error {
	@extend .alert;
	background-color: $red_lighter;
	.header {
		color: $red;
	}
}

.warning {
	@extend .alert;
	background-color: $yellow_light;
	.header {
		color: $yellow;
	}
}

.success {
	@extend .alert;
	background-color: $green_light;
	.header {
		color: $green;
	}
}

.info {
	@extend .alert;
	background-color: $blue_light;
	.header {
		color: $blue;
	}
}
